.app.dark {
    --bg-color: #0d0d4e;
    --inverted--bg-color: #f9fdf7;
    --primary-color: #368152;
    --secondary-color: #032b10;
    --inverted--primary-color: #0f5296;
    --inverted----secondary-color: #0850ae;
}
