.app_dark_theme {
    --bg-color: #0d0d4e;
    --inverted--bg-color: #f9fdf7;
    --primary-color: #eec10c;
    --secondary-color: #75022a;
    --inverted--primary-color: #0f5296;
    --inverted----secondary-color: #0850ae;

    // skeleton
    --skeleton-color: #043d77;
    --skeleton-shadow: #227bd9;
}
