.app_dark_theme {
    --bg-color: #0d0d72;
    --inverted--bg-color: #f9fdf7;
    --primary-color: #51e568;
    --secondary-color: #407a42;
    --inverted--primary-color: #0f5296;
    --inverted----secondary-color: #0850ae;

    // skeleton
    --skeleton-color: #043d77;
    --skeleton-shadow: #227bd9;

    //COde
    --code-bg: #7272f3;
    //CARd

    --card-bg: #303085;

    //LIstBOx

    --listbox-bg: #303085;
}
