:root {
    --bg-color: #fdf7f7;
    --inverted--bg-color: #0d0d4e;
    --primary-color: #0f5296;
    --secondary-color: #1b4173;
    --inverted--primary-color: #368152;
    --inverted--secondary-color: #032b10;
}
