:root {
    --bg-color: #fdf7f7;
    --inverted--bg-color: #0d0d4e;
    --primary-color: #39b934;
    --secondary-color: #1b4173;
    --inverted--primary-color: #08d342;
    --inverted--secondary-color: #032b10;

    // skeleton
    --skeleton-color: #c1d9ec;
    --skeleton-shadow: #122c46;

    //COde
    --code-bg:#fff;

    //CARd

    --card-bg: #d9d4d4;

    //LIstBOx

    --listbox-bg:#d9d4d4;
}
