.app_pink_theme {
    --bg-color: #d8c8d9;
    --inverted--bg-color: #ef1bd2;
    --primary-color: #252125;
    --secondary-color: #761DC3;
    --inverted--primary-color: #FBF4FA;
    --inverted----secondary-color: #FBF4FA;

    // skeleton
    --skeleton-color: #cee8f8;
    --skeleton-shadow: #172028;

    //COde
    --code-bg:#fff;
    //CARd

    --card-bg: #e27ee7;

    //LIstBOx

    --listbox-bg:#e27ee7;
}

